<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GCS {{ env }}</title>
    <link href="{{ base_url('css/plugins.min.css') }}" rel="stylesheet">
    <link href="{{ base_url('css/main.css') }}" rel="stylesheet">
    {% block customCss %}
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav class="nav-wrapper grey lighten-4 black-text">
    <div class="container">
        <a class="navbar-brand" href="{{ base_url() }}">
            <img class="responsive-img" src="{{ base_url('images/logos/gcs.jpg') }}" alt="logo">
        </a>

        {% if not usuarioAutenticado %}
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>Versão do sistema {{ tag }}</li>
            </ul>
        {% else %}
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ base_url('sistema/dashboard') }}">Dashboard</a></li>

                {% for keyUser,permissoes in usuarioPermissoes %}
                    {% if keyUser == 1 %}
                        <li><a class='dropdown-trigger' href='#' data-target='dropdown-administrativo'>Administrativo
                                <i class="fa fa-caret-down"></i></a>
                        </li>
                        <ul id="dropdown-administrativo" class="dropdown-content">
                            {% for permissao in permissoes %}
                                {% if permissao == '1' %}
                                    <li><a href="{{ base_url('administrativo/usuarios') }}">Usuários</a></li>
                                    <li><a href="{{ base_url('administrativo/lancamentosFinanceiros') }}">Lançamento Financeiro</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ base_url('administrativo/logs') }}">Logs</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}

                <li><a class='dropdown-trigger' href='#' data-target='dropdown-perfil'>{{ usuarioAutenticado.nome }}
                        <i class="fa fa-caret-down"></i></a>
                </li>
            </ul>

            <ul id="dropdown-perfil" class="dropdown-content">
                <li><a href="{{ base_url('sistema/perfil') }}">Perfil</a></li>
                <li><a href="{{ base_url('sistema/login/logout') }}">Sair</a></li>
            </ul>
        {% endif %}


        {% block navbar %}
        {% endblock %}
    </div>
</nav>

<div class="container">
    {% block conteudo %}
    {% endblock %}
</div>

<script src="{{ base_url('js/plugins.min.js') }}"></script>
<script src="{{ base_url('js/main.js') }}"></script>
<script src="{{ base_url('js/plugins/wysiwyg/ckeditor.js') }}"></script>
<script src="{{ base_url('js/plugins/sweetalert/src/sweetalert.js') }}"></script>

<script type="text/javascript">

    (function (gcs) {
        gcs.setAppBaseUrl('{{ base_url() }}');

        {% if serverError|length > 0 %}
        alertify.error({{ json_encode(serverError) }});
        {% endif %}

        {% if serverSuccess|length > 0 %}
        alertify.success({{ json_encode(serverSuccess) }});
        {% endif %}

        {% if serverAlert|length > 0 %}
        swal("Atenção", {{ json_encode(serverAlert) }});
        {% endif %}

    }(gcs));
</script>

{% block javascripts %}
{% endblock %}
</body>
</html>