{% extends 'email/_layout_email_padrao.twig' %}

{% block title %}
    GCS - email de Notificação
{% endblock %}

{% block html %}
    <p>Atenção</p>
    <p>Dia <b>{{ registro.datavalidade }}</b>, vence
        {% if registro.idpai %}
            a Etapa: <b>{{ registro.titulo }}</b> do
        {% endif %}
        o Registro: <b>{{ pai.titulo }}</b>
    </p>

    <table style="width: 100%">
        <tbody>
            <tr>
                <td style="width: 10%; vertical-align: top"><p>Descrição:</p></td>
                <td colspan="2" style="width: 90%; vertical-align: top">{{ registro.descricao|raw }}</td>
            </tr>
            {% if not registro.idpai %}
                <tr>
                    <td style="width: 10%; vertical-align: top">Etapas</td>
                    <td style="width: 90%; vertical-align: top">
                        <ul style="padding: unset; margin: unset">
                            {% for etapa in etapas %}
                                <li>Etapa: <b>{{ etapa.titulo|e }}</b>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Status: <b>{{ etapa.status }}</b>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td style="width: 10%; vertical-align: top">Anexo</td>
                <td style="width: 90%; vertical-align: top">
                    <ul style="padding: unset; margin: unset">
                        {% for arquivo in arquivos %}
                            <li>
                                <a href="{{ base_url('ged/registros/baixarAnexo/')}}{{ arquivo.id }}" target="_blank">{{ arquivo.descricao|e }}</a>
                                &nbsp;&nbsp;&nbsp;&nbsp; {{ arquivo.status }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <p>Para acessar o sistema <a href="{{ base_url() }}" target="_blank">Clique aqui</a></p>


{% endblock %}
