{% extends '_layout.twig' %}

{% block conteudo %}
    <div class="row">
        <h5>Log do sistema</h5>
        <hr/>
    </div>

    <section>
        {{ form_open() }}
        <div class="row">
            <div class="col s12 m3">
                <label for="idUsuario">Usuário</label>
                <select name="idUsuario" class="form-control">
                    <option value="">Todos</option>
                    {% for usuario in usuarios %}
                        <option
                            value="{{ usuario.id }}" {{ set_select('idUsuario', usuario.id) }}>{{ usuario.nome }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col s12 m3">
                <label for="tipo">Tipo Alteração</label>
                <select name="tipo" class="form-control">
                    <option value="">Todas</option>
                    {% for tipoAlteracao in tiposAlteracoes %}
                        <option
                            value="{{ tipoAlteracao.id }}" {{ set_select('tipo', tipoAlteracao.id) }}>{{ tipoAlteracao.descricao }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col s12 m3">
                <label for="quantidade">Quantidade</label>
                <select name="quantidade" class="form-control">
                    <option value="10" {{ set_select('quantidade', 10) }}>Últimas 10</option>
                    <option value="30" {{ set_select('quantidade', 30) }}>Últimas 30</option>
                    <option value="50" {{ set_select('quantidade', 50) }})>Últimas 50</option>
                </select>
            </div>

            <div class="col s12 m3">
                <button class="btn btn-primary" style="margin-top: 10px;" type="submit">Filtrar</button>
            </div>
        </div>
        {{ form_close() }}

        <div class="row">
            <div class="col s12">
                {% if registrosLog|length > 0 %}
                    <ul class="collection">
                        {% for registroLog in registrosLog %}
                            <li class="collection-item">
                                <p>
                                    <strong class="blue-text">{{ registroLog.usuarionome }} fez alterações no sistema
                                        em {{ formatForView(registroLog.datahora, 'd/m/Y H:i:s', 'Y-m-d H:i:s') }}</strong>
                                </p>

                                {% if registroLog.tipo is constant('toshyro\\gcs\\LogWriter::TIPO_LOG_INSERCAO') %}
                                    <p>Novas informações foram inseridas no sistema.</p>
                                {% elseif registroLog.tipo is constant('toshyro\\gcs\\LogWriter::TIPO_LOG_ALTERACAO') %}
                                    <p>Informações existentes foram atualizadas.</p>
                                {% elseif registroLog.tipo is constant('toshyro\\gcs\\LogWriter::TIPO_LOG_EXCLUSAO') %}
                                    <p>Informações foram excluídas.</p>
                                {% endif %}
                                <pre
                                    style="background-color: rgba(0,0,0,0.05); border: 1px solid rgba(0,0,0,0.1); border-radius: 3px; padding: 5px;">{{ registroLog.mensagem }}</pre>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}