{% extends '_layout.twig' %}

{% block customCss %}
    <link href="{{ base_url('css/administrativo/usuarios/usuarios.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
    {{ form_open() }}
    {{ form_hidden('id', usuario.id) }}

    <div class="row">
        <h5>Edição de Usuários</h5>
        <hr/>
    </div>

    <div class="row">
        <div class="col s12 m8">
            <div class="row">
                <div class="col s12 m5">
                    <label for="nome">
                        Nome
                        <small class="red-text">*</small>
                    </label>
                    <input type="text" class="form-control" autofocus name="nome"
                           value="{{ set_value('nome', usuario.nome) }}" placeholder="Seu nome completo"
                           required/>
                </div>

                <div class="col s12 m5">
                    <label for="email">
                        E-mail
                        <small class="red-text">*</small>
                    </label>
                    <input type="text" class="form-control" name="email" value="{{ set_value('email', usuario.email) }}"
                           placeholder="seu@email.com.br"/>
                </div>
            </div>

            <!-- modulo -->
            <div class="row">
                <div class="col s12 m5">
                    <label for="modulo">
                        Módulo
                        <small class="red-text">*</small>
                    </label>
                    <select name="modulo" class="form-control" required>
                        {% for modulo in modulos %}
                            <option value="{{ modulo.id }}">{{ modulo.descricao }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col s12 m5">
                    <label for="permissao">
                        Permissão
                        <small class="red-text">*</small>
                    </label>
                    <select name="permissao" class="form-control" required></select>
                </div>

                <div class="col s12 m2">
                    <button type="button" class="btn btn-secondary" id="btn-inclui-permissao">
                        Adicionar
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m10">
                    <table class="table table-condensed" id="usuario-permissoes">
                        <thead>
                        <tr>
                            <th width="55%">Módulo</th>
                            <th width="40%">Permissão</th>
                            <th width="5%">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for permissao in permissoes %}
                            <tr>
                                <td>{{ permissao.modulodescricao }}</td>
                                <td>
                                    {{ permissao.permissaodescricao }}
                                    <input type="hidden" name="permissoes[]" value="{{ permissao.permissaoid }}">
                                </td>
                                <td class="right-align">
                                    <a href="#" class='remover-permissao' title="Clique para remover">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m10">
                    <div class="checkbox div-checkbox-senha">
                        <label>
                            <input type="checkbox" name="alterarSenha" value="1">
                            <span>Alterar senha</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="div-senha-options" class="row hide">
                    <div class="col s12 m5">
                        <div class="radio">
                            <label>
                                <input type="radio" name="gerarToken" id="gerarToken1" value="1" checked disabled
                                       class="with-gap">
                                <span>Gerar token de acesso</span>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="gerarToken" id="gerarToken2" value="2" disabled
                                       class="with-gap">
                                <span>Inserir senha</span>
                            </label>
                        </div>
                    </div>

                    <div class="col s12 m5">
                        <div class="col s12 m6">
                            <label for="senha">
                                Senha
                                <small hidden id="danger-senha" class="red-text">*</small>
                            </label>
                            <input type="password" class="form-control" name="senha" disabled placeholder="*****"
                                   value="{{ set_value('senha') }}" required/>
                        </div>

                        <div class="col s12 m6">
                            <label for="confirmasenha">
                                Confirma Senha
                                <small hidden id="danger-confirmasenha" class="red-text">*</small>
                            </label>
                            <input type="password" class="form-control" name="confirmasenha" disabled
                                   placeholder="*****"
                                   value="{{ set_value('confirmasenha') }}" required/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="col s12 right-align">
                <a href="{{ base_url('administrativo/usuarios') }}" class="btn-flat">Voltar</a>
                <button type="submit" class="btn btn-primary">Gravar</button>
            </div>

            <div class="col s12 right-align">
                <small class="red-text">*Campos obrigatórios &nbsp;</small>
            </div>
        </div>
    </div>


    {{ form_close() }}
{% endblock %}

{% block javascripts %}
    <script src="{{ base_url('js/administrativo/usuarios/usuarios.js') }}"></script>
{% endblock %}