.row.no-margin-bottom{
    margin-bottom: unset;
}

.status-em-dia, .status-em-dia:hover, .status-em-dia:focus{
    background-color: palegreen !important;
    color:black;
}

.status-a-vencer, .status-a-vencer:hover, .status-a-vencer:focus{
    background-color: #fdfd96 !important;
    color: black;
}

.status-vencido, .status-vencido:hover, .status-vencido:focus{
    background-color: #ffb2b2 !important;
    color: black;
}

.status-concluido, .status-concluido:hover, .status-concluido:focus{
    background-color: #f5f5f5 !important;
    color:black;
}

.status-com-pendencias, .status-com-pendencias:hover, .status-com-pendencias:focus {
    background-color: #ffc04c !important;
    color: black;
}

.selectize-input {
    padding: 0;
}

.selectize-input div {
    transform: scale(0.9) !important;
}

.selectize-control.multi .selectize-input.has-items {
    padding: 0px 0px;
}

.btn-small {
    height: 24px;
    line-height: 24px;
    font-size: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.btn-small .fa {
    font-size: 8px;
}

.card .card-content {
    padding: 5px 12px 12px;
}

.card .card-title {
    margin-bottom: 0 !important;
}

.card .card-title span {
    color: black;
    font-size: 1.5rem;
}

#table-registros th {
    padding-top: 2px;
    padding-bottom: 2px;
}

#table-registros td {
    padding: 4px;
}

#btn-filtrar-registros {
    margin-top: 10px;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}

.sweet-alert {
    min-width: 500px;
}