{% extends 'email/_layout_email_padrao.twig' %}

{% block title %}
    GCS - Nova Senha
{% endblock %}

{% block html %}
    <p>Olá {{ usuario.nome }} </p>

    <p align="justify">Recebemos um pedido para recuperar sua senha em nosso sistema. Clique no link abaixo para continuar com o
        processo e definir uma nova senha de acesso.</p>

    <a href="{{ usuario.url }}" target="_blank"
       style="background:#03314b; color:#ffffff; font-family:Roboto, Arial; font-size:14px; font-weight:bold;
       line-height:21px; Margin:0; text-decoration:none; text-transform:none">Recuperar senha</a>

{% endblock %}
