{% extends '_layout.twig' %}

{% block customCss %}
    <link href="{{ base_url('css/sistema/login/login.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
    {{ form_open() }}
    {{ form_hidden('redirect_url', redirect) }}
    <div class="row">
        <div class="col s8 col m6 col l4 div-login center-align">
            <h5>Seja bem vindo! <br>Realize seu login</h5>

            <div class="form-group">
                <input type="text" placeholder="E-mail" class="form-control" name="login" required/>
            </div>

            <div class="form-group">
                <input type="password" placeholder="Senha" class="form-control" name="senha" required/>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success right">Acessar</button>
                <span class="esqueci-minha-senha">
                    <a href="#" class="left" id="passwordRecovery" style="vertical-align: bottom">Esqueci minha senha</a>
                </span>
            </div>
        </div>
    </div>
    {{ form_close() }}
{% endblock %}

{% block javascripts %}
    <script src="{{ base_url('js/sistema/login/login.js') }}"></script>
{% endblock %}